#root {
  max-width: 1280px;
  margin: 0 auto;
  
}

.navbar {
  background-color: #333;
  overflow: hidden;
  justify-content: center;
  align-items: center;  
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
}
.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
#grid-container {
  display: grid;
  grid-template-columns: .1fr 2fr .1fr;
  
}

.about-me, .skills, .projects, .contact {
  padding-top: 5%;
  grid-column: 2 / 3;
  height: 100vh; /* 100% of the viewport height */
  width: 100%;  /* 100% of the viewport width */
}

#about {
  background-color: blue;
}